.reset {
  position: static;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  background: none;
}
.bbox,
.bbox * {
  box-sizing: border-box;
}
.interactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.interactive:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}
.abs100x100 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.centering {
  display: table !important;
  width: 100%;
  height: 100%;
}
.centering > *:first-child {
  width: 100%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.centering > *:first-child > *:first-child {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .hidden-on-mobile {
    display: none !important;
  }
}
@media screen and (min-width: 769px) {
  .hidden-on-desktop {
    display: none !important;
  }
}
.rur:not(:empty):after {
  content: ' \20BD ';
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#site-wrap,
#site-wrap * {
  box-sizing: border-box;
}
#site-wrap section + section {
  margin-top: 3%;
}
@media screen and (max-width: 768px) {
  #site-wrap section + section {
    margin-top: 5%;
  }
}
#site-wrap section > .contenu {
  max-width: 1370px;
  margin: auto;
  padding: 1rem;
  font-size: 1.1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  #site-wrap section > .contenu {
    max-width: 1130px;
  }
}
@media screen and (min-width: 1440px) {
  #site-wrap section > .contenu {
    font-size: 15.84px;
  }
}
#site-wrap section > .contenu > * {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  #site-wrap section > .contenu {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 576px) {
  #site-wrap section > .contenu {
    font-size: 1.3em;
  }
}
#site-wrap section > .contenu h2 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 3em;
  max-width: 20em;
}
@media screen and (max-width: 768px) {
  #site-wrap section > .contenu h2 {
    font-size: 2.6em;
    padding: 0 0.5em;
  }
}
@media screen and (max-width: 576px) {
  #site-wrap section > .contenu h2 {
    font-size: 2em;
  }
}
#site-wrap section > .contenu h3 {
  text-align: center;
  font-size: 2em;
}
#site-wrap section > .contenu ul li:before,
#site-wrap section > .contenu ul li:after {
  display: none;
}
#site-wrap section > .contenu .buttonlike {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
  font-size: inherit;
  height: 2.6em;
  padding: 0 2em;
  border: 0;
  text-decoration: none;
  border-radius: 0.25em;
}
#site-wrap section > .contenu .buttonlike:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}
#site-wrap section > .contenu .buttonlike.transparent {
  color: inherit;
  border: 1px solid currentColor;
}
#site-wrap section > .contenu .buttonlike.yellow {
  color: white;
  background-color: #F0AB00;
}
#site-wrap section > .contenu .buttonlike.blue {
  color: white;
  background-color: #0093D0;
}
#site-wrap section > .contenu .buttonlike.deepblue {
  color: white;
  background-color: #0F2855;
}
#site-wrap section > .contenu .buttonlike.red {
  color: white;
  background-color: #D7232A;
}
body .contentLayout-BaseContainer {
  max-width: 100%;
  overflow: hidden;
}
body .contentLayout-BaseContainer .notcritical {
  padding: 0!important;
}
body .contentLayout-BaseContainer .notcritical > .container {
  margin: 0!important;
  padding: 0!important;
  max-width: none!important;
}
body .contentLayout-BaseContainer .notcritical > .container .widgetcontainer {
  margin-bottom: 0;
}
body .contentLayout-BaseContainer .notcritical > .container > .row:not(:nth-child(2)) {
  display: none;
}
body > div.contentLayout-BaseContainer > div.notcritical > div > div:nth-child(2) > div.col-sm-12.order-1.col-md-9.rightcol > h1 {
  display: none;
}
#site-wrap section.intro {
  padding-top: 2em;
}
@media screen and (max-width: 768px) {
  #site-wrap section.intro {
    padding-top: 0;
  }
}
#site-wrap section.intro > .contenu {
  position: relative;
  background: url("../iii/intro-desktop.jpg") center no-repeat;
  background-size: cover;
}
#site-wrap section.intro > .contenu:before {
  content: '';
  display: block;
  padding-top: 33.57664234%;
}
#site-wrap section.intro > .contenu > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  #site-wrap section.intro > .contenu {
    position: relative;
    background-image: url(../iii/intro-mobile.jpg);
  }
  #site-wrap section.intro > .contenu:before {
    content: '';
    display: block;
    padding-top: 138.88888889%;
  }
  #site-wrap section.intro > .contenu > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
#site-wrap section.intro > .contenu .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
  color: white;
  font-size: 2vw;
  padding: 5%;
}
#site-wrap section.intro > .contenu .info > * {
  max-width: 100%;
}
@media screen and (min-width: 1440px) {
  #site-wrap section.intro > .contenu .info {
    font-size: 28.8px;
  }
}
@media screen and (max-width: 768px) {
  #site-wrap section.intro > .contenu .info {
    font-size: 4.5vw;
  }
}
#site-wrap section.intro > .contenu .info h2,
#site-wrap section.intro > .contenu .info h3 {
  text-align: left;
  line-height: 1.3;
  color: inherit;
  margin: 0;
  padding: 0;
}
#site-wrap section.intro > .contenu .info h2 {
  font-size: 1em;
}
#site-wrap section.intro > .contenu .info h3 {
  font-size: 1.5em;
}
@media screen and (max-width: 768px) {
  #site-wrap section.intro > .contenu .info h3 {
    font-size: 1.6em;
  }
}
#site-wrap section.blah > .contenu p {
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.2;
  max-width: 54em;
  text-align: center;
}
#site-wrap section.blah > .contenu p.strong {
  font-weight: bold;
}
#site-wrap section.switch-content {
  margin-top: 0;
}
#site-wrap section.switch-content > .contenu .selector {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
}
#site-wrap section.switch-content > .contenu .selector [data-show] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0.5em;
  flex: 1 1 auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: normal;
  line-height: 1.1;
  height: 3.3em;
  padding: 0 1em;
  border-radius: 0.25em;
  background-color: #BDBDBD;
  color: white;
  -webkit-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
  -ms-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}
#site-wrap section.switch-content > .contenu .selector [data-show]:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}
#site-wrap section.switch-content > .contenu .selector [data-show] > * {
  max-width: 100%;
}
#site-wrap section.switch-content > .contenu .selector [data-show].selected {
  pointer-events: none;
  background-color: #FFAE00;
  color: white;
}
#site-wrap section.switch-content > .contenu .selector [data-show] em {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
}
#site-wrap section.switch-content > .contenu .content-blocks {
  width: 100%;
}
#site-wrap section.switch-content > .contenu .content-blocks [data-content-for] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#site-wrap section.switch-content > .contenu .content-blocks [data-content-for] > * {
  max-width: 100%;
}
#site-wrap section.switch-content > .contenu .content-blocks [data-content-for] p {
  font-weight: normal;
  margin: 0;
}
#site-wrap section.switch-content > .contenu .content-blocks [data-content-for] p.strong {
  font-weight: bold;
}
#site-wrap section.switch-content > .contenu .content-blocks [data-content-for] > p {
  font-size: 1.2em;
  max-width: 50em;
  text-align: center;
}
#site-wrap section.switch-content > .contenu .content-blocks [data-content-for] > p + p {
  margin-top: 1em;
}
#site-wrap section.switch-content > .contenu .content-blocks [data-content-for] h3 {
  max-width: 30em;
  margin: 1em auto;
}
#site-wrap section.switch-content > .contenu .content-blocks [data-content-for] .guide-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#site-wrap section.switch-content > .contenu .content-blocks [data-content-for] .guide-steps > * {
  max-width: 100%;
}
#site-wrap section.switch-content > .contenu .content-blocks [data-content-for] .guide-steps > *:nth-child(n+2) {
  margin-top: 1em;
}
#site-wrap section.switch-content > .contenu .content-blocks [data-content-for] .guide-steps > img {
  width: 100%;
}
#site-wrap section.switch-content > .contenu .content-blocks [data-content-for] .guide-steps p {
  font-size: 1.2em;
}
#site-wrap section.switch-content > .contenu .content-blocks [data-content-for] .guide-steps p.strong {
  text-transform: uppercase;
  font-weight: bold;
}
#site-wrap section.switch-content > .contenu .content-blocks .excursions-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}
#site-wrap section.switch-content > .contenu .content-blocks .excursions-list > * {
  padding: 1em;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
}
#site-wrap section.switch-content > .contenu .content-blocks .excursions-list > * > * {
  max-width: 100%;
}
@media screen and (max-width: 576px) {
  #site-wrap section.switch-content > .contenu .content-blocks .excursions-list > * {
    flex: 0 1 100%;
  }
}
#site-wrap section.switch-content > .contenu .content-blocks .excursions-list > * a {
  position: relative;
  background: center no-repeat;
  background-size: cover;
  border-radius: 2em;
  color: white;
}
#site-wrap section.switch-content > .contenu .content-blocks .excursions-list > * a:before {
  content: '';
  display: block;
  padding-top: 100%;
}
#site-wrap section.switch-content > .contenu .content-blocks .excursions-list > * a > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#site-wrap section.switch-content > .contenu .content-blocks .excursions-list > * a h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding: 1em;
  font-size: 3vw;
}
#site-wrap section.switch-content > .contenu .content-blocks .excursions-list > * a h4 > * {
  max-width: 100%;
}
@media screen and (min-width: 1440px) {
  #site-wrap section.switch-content > .contenu .content-blocks .excursions-list > * a h4 {
    font-size: 43.2px;
  }
}
@media screen and (max-width: 576px) {
  #site-wrap section.switch-content > .contenu .content-blocks .excursions-list > * a h4 {
    font-size: 6.5vw;
  }
}
#site-wrap section.switch-content > .contenu .content-blocks .altered-layout {
  margin-top: 2em;
}
#site-wrap section.switch-content > .contenu .content-blocks .altered-layout > * {
  width: 100%;
  display: flex;
  align-items: center;
}
#site-wrap section.switch-content > .contenu .content-blocks .altered-layout > *:nth-child(n+2) {
  margin-top: 2em;
}
@media screen and (max-width: 768px) {
  #site-wrap section.switch-content > .contenu .content-blocks .altered-layout > *:nth-child(n+2) {
    margin-top: 4em;
  }
}
#site-wrap section.switch-content > .contenu .content-blocks .altered-layout > *:nth-child(even) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  #site-wrap section.switch-content > .contenu .content-blocks .altered-layout > * {
    flex-direction: column!important;
  }
}
#site-wrap section.switch-content > .contenu .content-blocks .altered-layout > * .visuals {
  width: 50%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
#site-wrap section.switch-content > .contenu .content-blocks .altered-layout > * .visuals > * {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  #site-wrap section.switch-content > .contenu .content-blocks .altered-layout > * .visuals {
    width: 100%;
  }
}
#site-wrap section.switch-content > .contenu .content-blocks .altered-layout > * .visuals > * {
  position: relative;
  background: center no-repeat;
  background-size: cover;
  border-radius: 1em;
}
#site-wrap section.switch-content > .contenu .content-blocks .altered-layout > * .visuals > *:before {
  content: '';
  display: block;
  padding-top: 48.19444444%;
}
#site-wrap section.switch-content > .contenu .content-blocks .altered-layout > * .visuals > * > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#site-wrap section.switch-content > .contenu .content-blocks .altered-layout > * .visuals > *:nth-child(n+2) {
  margin-top: 1em;
}
#site-wrap section.switch-content > .contenu .content-blocks .altered-layout > * .visuals > *:first-child:last-child {
  position: relative;
}
#site-wrap section.switch-content > .contenu .content-blocks .altered-layout > * .visuals > *:first-child:last-child:before {
  content: '';
  display: block;
  padding-top: 100%;
}
#site-wrap section.switch-content > .contenu .content-blocks .altered-layout > * .visuals > *:first-child:last-child > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#site-wrap section.switch-content > .contenu .content-blocks .altered-layout > * .info {
  display: flex;
  flex-direction: column;
  padding: 0 3em;
  font-size: 1.2em;
}
#site-wrap section.switch-content > .contenu .content-blocks .altered-layout > * .info > * {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  #site-wrap section.switch-content > .contenu .content-blocks .altered-layout > * .info {
    margin-top: 2em;
  }
}
#site-wrap section.switch-content > .contenu .content-blocks .altered-layout > * .info h4 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 1em;
}
#site-wrap section.switch-content > .contenu .content-blocks .altered-layout > * .info p + p {
  margin-top: 1em;
}
#site-wrap section.switch-content > .contenu .content-blocks .xlinks-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2em;
}
#site-wrap section.switch-content > .contenu .content-blocks .xlinks-list .pad {
  padding: 2em;
  flex: 0 1 33.33333333%;
}
@media screen and (max-width: 576px) {
  #site-wrap section.switch-content > .contenu .content-blocks .xlinks-list .pad {
    flex: 0 1 100%;
  }
}
#site-wrap section.switch-content > .contenu .content-blocks .xlinks-list .pad .info {
  position: relative;
  background: center no-repeat;
  background-size: cover;
  border-radius: 1.5em;
  font-size: 1.5vw;
  color: white;
}
#site-wrap section.switch-content > .contenu .content-blocks .xlinks-list .pad .info:before {
  content: '';
  display: block;
  padding-top: 100%;
}
#site-wrap section.switch-content > .contenu .content-blocks .xlinks-list .pad .info > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1440px) {
  #site-wrap section.switch-content > .contenu .content-blocks .xlinks-list .pad .info {
    font-size: 21.6px;
  }
}
@media screen and (max-width: 576px) {
  #site-wrap section.switch-content > .contenu .content-blocks .xlinks-list .pad .info {
    font-size: 4vw;
  }
}
#site-wrap section.switch-content > .contenu .content-blocks .xlinks-list .pad .info > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1em 2em;
}
#site-wrap section.switch-content > .contenu .content-blocks .xlinks-list .pad .info > * > * {
  max-width: 100%;
}
#site-wrap section.switch-content > .contenu .content-blocks .xlinks-list .pad .info > * h4 {
  font-size: 2em;
  color: inherit;
  margin: 0;
}
#site-wrap section.switch-content > .contenu .content-blocks .xlinks-list .pad .info > * p {
  font-weight: bold;
  line-height: 1.2;
}
#site-wrap section.switch-content > .contenu .content-blocks .xlinks-list .pad .info > * .buttonlike {
  margin-top: auto;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: #ebebeb;
  border-radius: 1em;
}
@media screen and (max-width: 768px) {
  #site-wrap section.switch-content > .contenu .content-blocks .padded-card {
    flex-direction: column;
    padding: 1.5em 1em;
  }
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card:first-of-type {
  margin-top: 2em;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card.single-line {
  background-color: #008DCC;
  align-items: center;
  padding: 1em 2em;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card.single-line .lefty {
  color: white;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card.single-line .lefty h5 {
  color: inherit;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card.single-line .righty dl.pad {
  padding: 1em 1.5em;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card + .padded-card {
  margin-top: 1.5em;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card p {
  font-weight: normal;
  margin: 0;
  line-height: 1.2;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card .lefty,
#site-wrap section.switch-content > .contenu .content-blocks .padded-card .righty {
  flex: 0 1 calc(50% - 1em);
}
@media screen and (max-width: 768px) {
  #site-wrap section.switch-content > .contenu .content-blocks .padded-card .lefty,
  #site-wrap section.switch-content > .contenu .content-blocks .padded-card .righty {
    flex: 1 1 100%;
  }
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card .lefty ul,
#site-wrap section.switch-content > .contenu .content-blocks .padded-card .righty ul {
  list-style: disc;
  padding: 0;
  font-weight: normal;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card .lefty {
  display: flex;
  flex-direction: column;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card .lefty > * {
  max-width: 100%;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card .lefty h4 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card .lefty > *:nth-child(n+2) {
  margin-top: 0.5em;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card .lefty em {
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  #site-wrap section.switch-content > .contenu .content-blocks .padded-card .righty {
    margin-top: 2em;
  }
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card .righty dl.pad {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5em 1em;
  background-color: white;
  padding: 1.5em;
  margin: 0;
  border-radius: 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card .righty dl.pad + dl.pad {
  margin-top: 1em;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card .righty dl.pad dt {
  font-weight: normal;
  line-height: 1.2;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card .righty dl.pad dt h5 {
  margin: 0;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card .righty dl.pad dt em {
  display: block;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card .righty dl.pad dd {
  color: #FFAE00;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
  text-align: right;
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card .righty dl.pad dd .ue:after {
  content: ' у.е.';
}
#site-wrap section.switch-content > .contenu .content-blocks .padded-card .righty dl.pad dd span.nobr {
  white-space: nowrap;
}
#site-wrap section.message-us > .contenu .messengers {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
#site-wrap section.message-us > .contenu .messengers a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  width: 5em;
  max-width: 80px;
  background: center no-repeat;
  background-size: contain;
  margin: 0 1.5em;
}
#site-wrap section.message-us > .contenu .messengers a:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}
#site-wrap section.message-us > .contenu .messengers a:before {
  content: '';
  display: block;
  padding-top: 100%;
}
#site-wrap section.message-us > .contenu .messengers a > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#site-wrap section.message-us > .contenu .messengers + h3 {
  margin-top: 2em;
}
#site-wrap section.message-us > .contenu .phone-number {
  font-size: 3.125em;
  font-weight: bold;
  color: #FFAE00;
  text-decoration: none;
  margin: 0.5em auto;
}
@media screen and (max-width: 768px) {
  #site-wrap section.message-us > .contenu .phone-number {
    font-size: 8vw;
  }
}
[data-module="contentLayout"] .background {
  background: #0093d0;
}
[data-module="contentLayout"] .background:before {
  display: none;
}
#site-wrap section.intro.yacht > .contenu {
  background-image: url(../iii/intro-yacht-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.intro.yacht > .contenu {
    background-image: url(../iii/intro-yacht-mobile.jpg);
  }
}
#site-wrap section.intro.chopper > .contenu {
  background-image: url(../iii/intro-chopper-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.intro.chopper > .contenu {
    background-image: url(../iii/intro-chopper-mobile.jpg);
  }
}
#site-wrap section.intro.safari > .contenu {
  background-image: url(../iii/intro-safari-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.intro.safari > .contenu {
    background-image: url(../iii/intro-safari-mobile.jpg);
  }
}
#site-wrap section.intro.personal-transport > .contenu {
  background-image: url(../iii/intro-personal-transport-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.intro.personal-transport > .contenu {
    background-image: url(../iii/intro-personal-transport-mobile.jpg);
  }
}
#site-wrap section.intro.tickets > .contenu {
  background-image: url(../iii/intro-tickets-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.intro.tickets > .contenu {
    background-image: url(../iii/intro-tickets-mobile.jpg);
  }
}
#site-wrap section.generic > .contenu .heading {
  position: relative;
  width: 100%;
  background: center no-repeat;
  background-size: cover;
  border-radius: 1em;
}
#site-wrap section.generic > .contenu .heading:before {
  content: '';
  display: block;
  padding-top: 29.19708029%;
}
#site-wrap section.generic > .contenu .heading > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .heading {
    position: relative;
  }
  #site-wrap section.generic > .contenu .heading:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  #site-wrap section.generic > .contenu .heading > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
#site-wrap section.generic > .contenu .heading.musandam {
  background-image: url(../iii/heading-musandam-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .heading.musandam {
    background-image: url(../iii/heading-musandam-mobile.jpg);
  }
}
#site-wrap section.generic > .contenu .heading.fishing {
  background-image: url(../iii/heading-fishing-02-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .heading.fishing {
    background-image: url(../iii/heading-fishing-02-mobile.jpg);
  }
}
#site-wrap section.generic > .contenu .heading.cruise {
  background-image: url(../iii/heading-cruise-02-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .heading.cruise {
    background-image: url(../iii/heading-cruise-02-mobile.jpg);
  }
}
#site-wrap section.generic > .contenu .heading.yacht {
  background-image: url(../iii/heading-yacht-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .heading.yacht {
    background-image: url(../iii/heading-yacht-mobile.jpg);
  }
}
#site-wrap section.generic > .contenu .heading.baloon {
  background-image: url(../iii/heading-baloon-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .heading.baloon {
    background-image: url(../iii/heading-baloon-mobile.jpg);
  }
}
#site-wrap section.generic > .contenu .heading.chopper {
  background-image: url(../iii/heading-chopper-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .heading.chopper {
    background-image: url(../iii/heading-chopper-mobile.jpg);
  }
}
#site-wrap section.generic > .contenu .heading.excursions {
  background-image: url(../iii/heading-excursions-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .heading.excursions {
    background-image: url(../iii/heading-excursions-mobile.jpg);
  }
}
#site-wrap section.generic > .contenu .heading.safari {
  background-image: url(../iii/heading-safari-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .heading.safari {
    background-image: url(../iii/heading-safari-mobile.jpg);
  }
}
#site-wrap section.generic > .contenu .heading.laperle {
  background-image: url(../iii/heading-laperle-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .heading.laperle {
    background-image: url(../iii/heading-laperle-mobile.jpg);
  }
}
#site-wrap section.generic > .contenu .heading.burj-khalifa {
  background-image: url(../iii/heading-burj-khalifa-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .heading.burj-khalifa {
    background-image: url(../iii/heading-burj-khalifa-mobile.jpg);
  }
}
#site-wrap section.generic > .contenu .heading.dubai-parks {
  background-image: url(../iii/heading-dubai-parks-2-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .heading.dubai-parks {
    background-image: url(../iii/heading-dubai-parks-2-mobile.jpg);
  }
}
#site-wrap section.generic > .contenu .heading.atlantis-aquaventure {
  background-image: url(../iii/heading-atlantis-aquaventure-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .heading.atlantis-aquaventure {
    background-image: url(../iii/heading-atlantis-aquaventure-mobile.jpg);
  }
}
#site-wrap section.generic > .contenu .heading.img-worlds-of-adventure {
  background-image: url(../iii/heading-img-worlds-of-adventure-desktop.jpg);
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .heading.img-worlds-of-adventure {
    background-image: url(../iii/heading-img-worlds-of-adventure-mobile.jpg);
  }
}
#site-wrap section.generic > .contenu .heading + .padded-card {
  margin-top: 1.5em;
}
#site-wrap section.generic > .contenu .just-text {
  padding: 3%;
}
#site-wrap section.generic > .contenu .just-text > * {
  font-size: 1.2em;
}
#site-wrap section.generic > .contenu .just-text > *:nth-child(n+2) {
  margin-top: 1em!important;
}
#site-wrap section.generic > .contenu .just-text ul {
  list-style: disc;
  padding: 0;
  font-weight: normal;
}
#site-wrap section.generic > .contenu p {
  font-weight: normal;
}
#site-wrap section.generic > .contenu p.em {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 2em 1em;
  margin: 0;
}
#site-wrap section.generic > .contenu .padded-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: #ebebeb;
  border-radius: 1em;
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .padded-card {
    flex-direction: column;
    padding: 1.5em 1em;
  }
}
#site-wrap section.generic > .contenu .padded-card.single-line {
  background-color: #008DCC;
  align-items: center;
  padding: 1em 2em;
}
#site-wrap section.generic > .contenu .padded-card.single-line .lefty {
  color: white;
}
#site-wrap section.generic > .contenu .padded-card.single-line .lefty h5 {
  color: inherit;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0;
}
#site-wrap section.generic > .contenu .padded-card.single-line .righty dl.pad {
  padding: 1em 1.5em;
}
#site-wrap section.generic > .contenu .padded-card + .padded-card {
  margin-top: 1.5em;
}
#site-wrap section.generic > .contenu .padded-card p {
  font-weight: normal;
  margin: 0;
  line-height: 1.2;
}
#site-wrap section.generic > .contenu .padded-card .lefty,
#site-wrap section.generic > .contenu .padded-card .righty {
  flex: 0 1 calc(50% - 1em);
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .padded-card .lefty,
  #site-wrap section.generic > .contenu .padded-card .righty {
    flex: 1 1 100%;
  }
}
#site-wrap section.generic > .contenu .padded-card .lefty ul,
#site-wrap section.generic > .contenu .padded-card .righty ul {
  list-style: disc;
  padding: 0;
  font-weight: normal;
}
#site-wrap section.generic > .contenu .padded-card .lefty {
  display: flex;
  flex-direction: column;
}
#site-wrap section.generic > .contenu .padded-card .lefty > * {
  max-width: 100%;
}
#site-wrap section.generic > .contenu .padded-card .lefty h4 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
#site-wrap section.generic > .contenu .padded-card .lefty > *:nth-child(n+2) {
  margin-top: 0.5em;
}
#site-wrap section.generic > .contenu .padded-card .lefty em {
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .padded-card .righty {
    margin-top: 2em;
  }
}
#site-wrap section.generic > .contenu .padded-card .righty dl.pad {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5em 1em;
  background-color: white;
  padding: 1.5em;
  margin: 0;
  border-radius: 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
#site-wrap section.generic > .contenu .padded-card .righty dl.pad + dl.pad {
  margin-top: 1em;
}
#site-wrap section.generic > .contenu .padded-card .righty dl.pad dt {
  font-weight: normal;
  line-height: 1.2;
}
#site-wrap section.generic > .contenu .padded-card .righty dl.pad dt h5 {
  margin: 0;
}
#site-wrap section.generic > .contenu .padded-card .righty dl.pad dt em {
  display: block;
}
#site-wrap section.generic > .contenu .padded-card .righty dl.pad dd {
  color: #FFAE00;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
  text-align: right;
}
#site-wrap section.generic > .contenu .padded-card .righty dl.pad dd .ue:after {
  content: ' у.е.';
}
#site-wrap section.generic > .contenu .padded-card .righty dl.pad dd span.nobr {
  white-space: nowrap;
}
#site-wrap section.generic > .contenu .double-col {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 1.5em;
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .double-col {
    flex-direction: column;
  }
}
#site-wrap section.generic > .contenu .double-col > * {
  flex: 0 calc(50% - 1em);
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .double-col > * {
    flex: 1 100%;
  }
}
#site-wrap section.generic > .contenu .double-col .padded-card {
  flex-direction: column;
  align-items: stretch;
  margin: 0!important;
}
@media screen and (max-width: 768px) {
  #site-wrap section.generic > .contenu .double-col .padded-card:nth-child(n+2) {
    margin-top: 1em!important;
  }
  #site-wrap section.generic > .contenu .double-col .padded-card .righty {
    margin-top: 0;
  }
}
#site-wrap section.generic > .contenu .double-col .padded-card h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4em;
  text-align: center;
  margin-bottom: 0.5em !important;
}
